<!DOCTYPE html>
<html lang="<%= sys_language %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= sys_company_name %></title>
    <style><%= sys_style %></style>
  </head>

  <body>
    <table role="presentation" class="email-container" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="email-header">
          <img src="<%= sys_company_logo %>" alt="<%= sys_company_name %> logo">
          <h1><%= sys_company_title %></h1>
        </td>
      </tr>
      <tr>
        <td class="email-body">
          <p><%= t("Hello") %>, <b><%= userFirstName %> <%= userLastName %></b>.</p>
          <p></p>
          <p><%= t("The code to confirm your email is") %></p>
          <p></p>
          <p style="font-size: 24px; text-align: center;"><b><%= signupVerificationCode %></b></p>
          <p></p>
          <p><i><%= t("If you did not request it, please ignore this email") %>.</i>.</p>
          <p><i>
            <%= t("If you have any questions, feel free to") %>
            <a href="<%= sys_company_mailto %>"><%= t("contact us") %></a>
            <%= t("at any time") %>.
          </i></p>
        </td>
      </tr>
      <tr>
        <td class="email-footer">
          <p>
            <%= sys_company_copyright %>. <%= t("All rights reserved") %>.
          </p>
          <p>
            <a href="<%- sys_client_email_unsubscribe_link %>/<%- notificationToken %>/<%- sys_language %>"><%= t("Unsubscribe") %></a> |
            <a href="<%- sys_client_email_preferences_link %>/<%- notificationToken %>/<%- sys_language %>"><%= t("Manage Preferences") %></a>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
