<!DOCTYPE html>
<html
  lang="<%= sys_language %>"
  dir="<%= sys_dir %>"
>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title><%= sys_company_name %> - <%= t("Generic email") %></title>
    <style><%= sys_style %></style>
  </head>

  <body>
    <table role="presentation" class="email-container" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="email-header">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/256px-LEGO_logo.svg.png" alt="Your SAAS Logo">
          <h1><%= sys_company_name %></h1>
        </td>
      </tr>
      <tr>
        <td class="email-body">
          <p><%= t('welcome_message', { name: userFirstName }) %></p>
          <p>Your order number is: <%= orderNumber %></p>
          <p>We wanted to inform you about [specific event or update]. This is an important audit regarding your account.</p>
          <p>If you have any questions, feel free to <a href="mailto:support@yourcompany.com">contact us</a> at any time.</p>
          <a href="[Action Link]" class="email-button"><%= t('Take Action') %></a>
        </td>
      </tr>
      <tr>
        <td class="email-footer">
          <p><%= sys_company_copyright %></p>
          <p><a href="[unsubscribe-link]"><%= t("Unsubscribe") %></a> | <a href="[preferences-link]"><%= t("Manage Preferences") %></a></p>
        </td>
      </tr>
    </table>
  </body>
</html>